<%= form_for(@shipping_line) do |f| %>
  <% if @shipping_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_line.errors.count, "error") %> prohibited this shipping_line from being saved:</h2>

      <ul>
      <% @shipping_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= collection_select (:user, :user_id, User.all, :id, :first_name) %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :contact_person %><br />
    <%= f.text_field :contact_person %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br />
    <%= f.text_field :contact_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
